body{
    background: black;
}

h1{
    background: black;
    color: aqua;
    text-align: center;
    font-size: 50px;
}

.bigContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:32px;
}

.sidebar{
    background: rgba(60, 60, 60, 1);
    padding: 32px;
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
}

button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 3px solid aqua;
    border-radius: 4px;
    background: rgba(60, 60, 60, 1);
    color: aqua;
    font-size: medium;
}